.bag-button{

    background-color: lightpink;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
cursor: pointer;

text-transform: uppercase;

}


.wish-button{
    border: none;
text-transform: uppercase ;
    padding: 10px 35px;
   background-color: blueviolet;
    border-radius: 10px;
}
h1{
font-family: 'Times New Roman', Times, serif;

}