@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

head,
body {

    width: 100%;
    height: 100%;


}

.heading {
    padding: 7px;

    position: sticky;
    display: flex;
    width: 100%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.897);
    /* margin-left: 3px; */
    margin-top: 12px;

}

.container {

    font-family: "Assistant", sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    gap: 50px;
}

h4:hover {
    transform: scale(1.2);
    transition: .1s;
    background-color: transparent;
    color: rgb(0, 0, 0);


}

.search-container {
    margin-left: 100px;
    margin-top: 5px;
    /* background-color: rgb(184, 181, 181); */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-container img {
    margin-left: 5px;
    padding: 0px 0px 2px;
    height: 20px;
    position: absolute;
    margin-top: 14px;


}


.search-box {


    font-size: 14px;
    background-color: rgb(255, 255, 255);
    font-family: "Assistant", sans-serif;
    font-weight: 400;
    width: 300px;
    height: 100%;
    padding: 8px 10px 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;

}

/*  transform: scale(1.2);
    transition: .1s;
    background-color: transparent;
color: rgb(0, 0, 0); */




.profile {
    padding: 2px;
    cursor: pointer;
    text-align: center;
    font-family: "Assistant", sans-serif;
    margin-left: 20px;
    font-weight: 400;
    font-size: 14px;


}

.profile img {

    width: 50px;
    height: 25px;

}

.wishlist {
    font-size: 14px;
    padding: 2px;
    cursor: pointer;
    text-align: center;
    font-family: "Assistant", sans-serif;
    margin-left: 10px;
    font-weight: 400;
    margin-bottom: 10px;


}

.wishlist img {

    width: 50px;
    height: 25px;
}

.bag {
    font-size: 14px;
    padding: 2px;
    cursor: pointer;
    text-align: center;
    font-family: "Assistant", sans-serif;
    margin-left: 10px;
    font-weight: 400;
    margin-bottom: 10px;


}

.bag img {

    width: 50px;
    height: 25px;

}

.profile:hover {

    transform: scale(1.2);
    transition: .1s;
    background-color: transparent;
    color: rgb(0, 0, 0);

}

.wishlist:hover {
    transform: scale(1.2);
    transition: .1s;
    background-color: transparent;
    color: rgb(0, 0, 0);


}

.bag:hover {

    transform: scale(1.2);
    transition: .1s;
    background-color: transparent;
    color: rgb(0, 0, 0);

}


#lab img {
    width: 95%;
    align-items: center;
    justify-content: center;
    text-justify: center;
    padding-left: 3%;
    margin-right: 2%;
    margin-left: 1%;
    margin-top: 2%;

}

.banners {
    display: flex;

}

#fb img {
    width: 100%;
}

#sb img {
    width: 100%;
}

#moon img {

    width: 100%;
    margin-top: 10px;


}

.two-coupons {
    display: flex;


}

#a img {

    width: 100%;

}

#b img {

    width: 100%;

}

#omg img {
    width: 100%;
}

#shops img {
    width: 100%;
    margin-top: 10px;

}

.collection {

    display: flex;


}

.collection img {

    width: 100%;


}


/* #c1 img{
width: 100%;

} */


.collection2 {

    display: flex;


}

.collection2 img {

    width: 100%;


}

.collection3 {

    display: flex;


}

.collection3 img {

    width: 100%;


}

.collection4 {

    display: flex;


}

.collection4 img {

    width: 100%;


}

.collection5 {

    display: flex;


}

.collection5 img {

    width: 100%;


}

.tele img {

    width: 100%;
    margin-top: 1%;

}

#online {
    margin-left: 10%;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 25px;
    color: rgb(105, 107, 121);
    font-size: 16px;

}

#online h5 {
    color: rgb(40, 44, 63);
    font-family: "Assistant", sans-serif;
    font-size: 14px;
    margin-top: 10px;
}


#customer h5 {
    color: rgb(40, 44, 63);
    font-family: "Assistant", sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

#customer {
    margin-left: 5%;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 25px;
    color: rgb(105, 107, 121);
    font-size: 16px;
}

.last {
    /* font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 25px;
    color: rgb(105, 107, 121);
    font-size: 16px; */

    /* color: rgb(40, 44, 63); */
    cursor: pointer;

    margin-top: 10px;
    display: flex;
    margin-top: 5%;
    background-color: rgb(247, 247, 247);

}

.last:hover {

    /* transform: scale(1.2);
    transition: .1s; */
    background-color: transparent;
    color: rgb(0, 0, 0);

}



#experience h5 {
    transform: scale(1.2);
    transition: .1s;
    color: rgb(40, 44, 63);
    font-family: "Assistant", sans-serif;
    font-size: 14px;
    margin-top: 13px;
    margin-left: 18%;
    width: 100%;

}

#experience img {
    margin-top: 2%;
    margin-left: 20%;
    padding: 2px;
    display: flex;
    width: 30%;
}

#guran img {

    margin-right: ;

}

#guran {
    margin-right: 20px;
    text-align: center;
    font-family: "Assistant", sans-serif;

}

.last {}

#user {



    border: 2px solid black;
    border-radius: 5px;
    color: red;

    text-align: center;
    font-family: "Assistant", sans-serif;

    margin-top: 10%;
    width: 50%;
    margin-left: 100px;
    line-height: 30px;
    font-size: 20px;
}